nav {
			    background-color: #E64A19;
}
/* убираем отступы и поля, а также list-style для "ul",
* и добавляем "position:relative" */
nav ul {
		padding:0;
		margin:0;
		list-style: none;
		position: relative;
	}
/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
	margin: 0px -7px 0 0;
	display:inline-block;
	background-color: #E64A19;
 }

			/* стилизуем ссылки */
nav a {
		display:block;
		padding:0 10px;
		color:#FFF;
		font-size:20px;
		line-height: 60px;
		text-decoration:none;
			}

			/* изменяем цвет фона при наведении курсора */
			nav a:hover {
			    background-color: #000000;
					text-decoration:none;
		}
    /* скрываем выпадающие списки по умолчанию
			 * и задаем абсолютное позиционирование */
			nav ul ul {
			    display: none;
			    position: absolute;
			    top: 100%;
			}

			/* отображаем выпадающий список при наведении */
			nav ul li:hover > ul {
			    display:inherit;
			}

			/* первый уровень выпадающего списка */
			nav ul ul li {
			    min-width:170px;
			    float:none;
			    display:list-item;
			    position: relative;
			}
      /* второй, третий и последующие уровни
			 * смещаем 2 и 3 уровни влево
			 * на значение длины первого уровня.
			*/
			nav ul ul ul {
			    position: absolute;
			    top:0;
			    left:100%;
		}
    li > a:after { content:  '>'; }
		li > a:only-child:after { content: ''; }
    .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.login{
	padding-top: 7%;
	padding-left: 8%;
}
